<html>
<head>
<title>queries</title>
</head>
<body>

<h2>Sample queries</h2>

<p>bagdes earned by users</p>
<p>badges earned by Ciju john</p>
<p>most badges earned by sales person</p>

<p>top 5 sales person</p>
<p>top 3 performers for Mumbai region</p>
<p>show me top 5 sales person in Indore for Msp</p>
<p>show me top 5 sales for Sas</p>
<p>Bottom 4 sales person in Mumbai region</p>

<p>consistent performer for last 3 week</p>
<p>show me consistent users for Msp</p>
<p>list all consistent users for Msp for this month</p>

<p>most improved users last 2 weeks</p>
<p>users with improved performances for Pjp</p>
<p>most improved users for Msp over last week</p>


</body>
<style>
body{
margin: 70px;
}
h2{

padding: 10px 10px 10px 100px ;
background-color: #004466;
color: white;
font-family: Arial;
font-size: 15px;
}

h4, h3{
color: #323232;
padding:5px 5px 5px 10px;
font-family: Arial;
margin: 5px;
}
p{
font:normal 16px/1.4 Arial, sans-serif;
padding:7px 7px 7px 50px;
margin:5px;
background-color: rgba(0, 0, 0, 0.1);
}
.dialog{

}
</style>
