<html>
<head>

<style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style><meta charset="utf-8"><meta content="width=device-width,initial-scale=1" name="viewport"><title>Guru</title><link href="font-awesome.min.css" rel="stylesheet"><link href="material-design-iconic-font.min.css" rel="stylesheet"><link href="sweetalert.css" rel="stylesheet"><link href="bootstrap.min.css" rel="stylesheet"><link href="app.css" rel="stylesheet">
<style>
.lv-item:not(.right) .ms-item {
color: #fff;
}
</style>
</head>

<body>
<div class="lv-body">

{{CONTENT | safe}}

</div>
</body>
</html>
