<html>
<head>
<title>queries</title>
</head>
<body>

<h2>Sample queries</h2>

<p>sales for store in Bangalore</p>
<p>top sales for stores in Karnataka</p>   
<p>sales info for Lip Gloss in Vishal mega mart in Assam</p>
<p>show me top sales for Enrich Satin last 2 months</p>
<p>worst sales for Shoppers stop stores in bangalore</p>
<p>top sales for NEW U stores in delhi</p>
<p>sales for big bazaar store for last 3 months in assam</p>
<p>sales for vishal mega mart in Assam</p>
<p>lowest sales in bangalore</p>
<p>sales for Enrich Satin in South</p>

<p>top sales for Ponds last month</p>
<p>show sales for Ponds in bangalore</p>
<p>sales for brand Lakme in karnataka last six month</p>

<p>target for stores in vishal mega mart in Assam</p>
<p>last month target for LWB700068M0002</p>

<p>sales for LPU140003G0001 store</p>
<p>sales for PGJ380009G0014 store for last 3 months</p>
<p>closing stock units for base pack 23036</p>
<p>sales for store LKN560002G0001</p>
<p>what was the mrp for items in counter HMH411031M0001</p>
<p>receipt units  for item 23482</p>
<p>price for 23036</p>
<p>sales info for countercode HAP500032M0011 for October</p>
<p>opening units for 23036</p>
<p>maximum price for base pack 23036</p>

</body>
<style>
body{
margin: 70px;
}
h2{

padding: 10px 10px 10px 100px ;
background-color: #004466;
color: white;
font-family: Arial;
font-size: 15px;
}

h4, h3{
color: #323232;
padding:5px 5px 5px 10px;
font-family: Arial;
margin: 5px;
}
p{
font:normal 16px/1.4 Arial, sans-serif;
padding:7px 7px 7px 50px;
margin:5px;
background-color: rgba(0, 0, 0, 0.1);
}
.dialog{

}
</style>
