<script src="https://code.highcharts.com/highcharts.js"></script>
<div id="header_main"></div>
<div id="section_1"> 
    <div id="section_1_header" class="_header"></div>
    <div id="section_1_body" class="_body"></div>
</div>
<div id="section_2">
    <div id="section_2_header" class="_header"></div>
    <div id="section_2_body" class="_body"></div>
</div>
<div id="section_3">
    <div id="section_3_header" class="header"></div>
    <div id="section_3_body" class="_body"></div>
</div>
<div id="section_4">
    <div id="section_4_header" class="_header"></div>
    <div id="section_4_body" class="_body"></div>
</div>
<div id="section_5">
    <div id="section_5_header" class="_header"></div>
    <div id="section_5_body" class="_body"></div>
</div>

<style>
</style>
<script type="text/javascript">{{js|safe}}</script>
 
