<div class="help_contents" style="padding:50px">
<ul>
    <li><b>Start</b> simple by saying Hi, Hello or something similar.</li>
    <li><b>Ask</b> generic questions on sales data - <b>ros, sell thru, stores, brands, subbrands, locations, cities, states</b>.</li>
    <li><b>Progress</b> to advanced features like generating reports, sending mails, setting crons.</li>
</ul>
<div style="padding-left:35px;padding-top:10px">
<h4>Generating ros/sell_thru graphs</h4>
<p>Plot ros for Uspa
<br>plot sell through report for Arrow this week
<br>show me ros report for Uspa for the last week
<br>Generate sell through graph for brand Gant
</p>
<h4>Generic Queries</h4>
<p> Arrow stores in Karnataka
<br>brands in Bangalore
<br>subbrands for Arrow
<br>cities in Karnataka for Arrow
<br>store locations for Gant in Karnataka
<br>what store has the highest ros for Gant
<br>list all the store having sub brand Aw
<br>what are the different stores available in Karnataka for brand Uspa
<br>find me a list of store for which sell through is maximum
<br>list all the stores having maximum ros for sub brand UK
<br>list all the places having stores for brand Arrow
<br>In what locations Gant store are available
<br>what location has the maximum ros for Gant
</p>
<h4>Datetime based</h4>
<small><i>Note: Only last 10 days data is available.</i></small>
<p>sell thru for Uspa five days ago
<br>Show me sell thru for Gant for second week of August
<br>what karnataka store has the maximum ros last week
<br>stores having maximum rate of sale on last week of august in Bhopal
<br>find me list of shops in Karnataka with highest ros in August this year
<br>ros for Uspa last monday
</p>
<h4>Sending currently viewed results/graphs</h4>
<small><i>Note: reports will be send to your registered email if not explicitly specified.</i></small>
<p>send this report
<br>mail this
<br>send the results to user@example.com
</p>
</div>
<h4>More help with the queries is available <a href='/queries' target="_blank" style='color:#327fc5'><b>here</b></a></h4>
</div>
<style>
.help_contents h4{
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: bold;
}
.help_contents p{
    padding-left:20px;
    padding-top:3px;
}


