<html>
<head>
<title>queries</title>
</head>
<body>
<h2> Converse with Guru </h2>
<div class = "dialog">
<p>
<strong>User:</strong> Hey<br>
<strong>Bot:</strong> Hi, there<br>
<strong>User:</strong> Hows you doing?<br>
<strong>Bot:</strong> wonderful as always, Thanks for asking<br>
<strong>User:</strong> I need your help<br>
<strong>Bot:</strong> That's what I'm here for. What can I assist you with?<br>
<strong>User:</strong> Can you show me the ros report for the last week<br>
<strong>Bot:</strong> For what brand?<br>
<strong>User:</strong> Uspa, I would say<br>
    [...graph generated...]<br>
<strong>User:</strong> Please send this report to example@xyz.com<br>
<strong>Bot:</strong> Mail sucessfully delivered to example@xyz.com. It may appear as spam.<br>
<strong>User:</strong> Great, thanks.<br>
<strong>Bot:</strong> Its my pleasure to help.<br>
</p>
</div>
<h2>Sample queries</h2>
<h4>Generating Graphs:</h4>
<p>Plot ros for Uspa</p>
<p>plot sell through report for Arrow this week</p>
<p>show me ros report for Uspa for the last week</p>
<p>Generate sell through graph for brand Gant</p>
<p>show ros graph for Arrow for this week</p>
<p>plot rate of sale for Uspa</p>
<h4>Time based:</h4>
<p>what karnataka store has the maximum ros last week</p>
<p>highest sell thru for Uspa five days ago</p>
<p>stores having maximum rate of sale on last week of august in Bhopal</p>
<p>find me list of shops in Karnataka with highest ros in August this year</p>
<p>ros for Uspa last monday</p>
<h4>Sending results:</h4>
<p>send report to example@xyz.xom</p>
<p>send the results</p>
<p>mail the results to user@example.com</p>
<h4>Other:</h4>
<p>Arrow stores in Karnataka</p>
<p>brands in Bangalore</p>
<p>subbrands for Arrow</p>
<p>cities in Karnataka for Arrow</p>
<p>store locations for Gant in Karnataka</p>
<p>what store has the highest ros for Gant</p>
<p>list all the store having sub brand Aw</p>
<p>what are the different stores available in Karnataka for brand Uspa</p>
<p>find me a list of store for which sell through is maximum</p>
<p>all the stores having style AKRF8225</p>
<p>list all the stores having maximum ros for sub brand UK</p>
<p>list all the places having stores for brand Arrow</p>
<p>In what locations Gant store are available</p>
<p>what location has the maximum ros for Gant</p>
<p>where can I find stores for Uspa</p>
<p>Show me sell thru for Gant for second week of August</p>
<p>List all the stores having maximum ros for sub brand Aw</p>
<h4>More Queries Coming Soon...</h4>
</body>
<style>
body{
margin: 70px;
}
h2{

padding: 10px 10px 10px 100px ;
background-color: #004466;
color: white;
font-family: Arial;
font-size: 15px;
}

h4, h3{
color: #323232;
padding:5px 5px 5px 10px;
font-family: Arial;
margin: 5px;
}
p{
font:normal 16px/1.4 Arial, sans-serif;
padding:7px 7px 7px 50px;
margin:5px;
background-color: rgba(0, 0, 0, 0.1);
}
.dialog{

}
</style>
