<div class="container">
  <div class="card m-b-0" id="messages-main"> 
    <div class="ms-body">
      <div class="listview lv-message">
        <div class="lv-header-alt clearfix">

          <div class="lvh-label">
            <div class="lv-avatar pull-left">
              <i class="zmdi zmdi-comments c-blue"></i>
            </div>
            <span class="c-black">Ask Guru</span>
          </div>

          <ul class="lv-actions actions">
            <li>
              <a href="">
                <i class="zmdi zmdi-search"></i>
              </a>
            </li>
            <li class="dropdown" uib-dropdown>
              <a href="" uib-dropdown-toggle aria-expanded="true">
                <i class="zmdi zmdi-more-vert"></i>
              </a>

              <ul class="dropdown-menu dropdown-menu-right">
                <li>
                  <a href="">Refresh</a>
                </li>
                <li>
                  <a href="">Message Settings</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="lv-body">
          <messages messages="$ctrl.messages"></messages>
        </div>
        
        <div class="lv-footer ms-reply">
          <textarea ng-model="$ctrl.chatText"
                    ng-keydown="$ctrl.onKeydown($event)"
                    placeholder="What's on your mind..."></textarea>
          <button ng-click="$ctrl.onSend()">
            <i class="zmdi zmdi-mail-send"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
