<div class="message ng-scope html"> <div class="html-content-wrapper ng-scope" bind-html-compile="message.data"><div class="html-resp ng-scope">

{{DATA | safe}}
<!--

<table class="table table-hover">
    <thead>
      <tr>
        <th>store_name</th>
        <th>store_code</th>
        <th>style_ros</th>
        <th>city</th>
        <th>created_date</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>ARVIND LIFESTYLE BRANDS LTD</td>
        <td>111141</td>
        <td>2.0</td>
        <td>BANGALORE</td>
        <td>2017-01-04 00:00:00</td>
      </tr>
      <tr>
        <td>ARVIND LIFESTYLE BRANDS LTD</td>
        <td>111141</td>
        <td>2.14</td>
        <td>BANGALORE</td>
        <td>2017-01-04 00:00:00</td>
      </tr>
    </tbody>
  </table>
-->

</div>
</div></div>


