<script src="https://code.highcharts.com/highcharts.js"></script>
<div id="header_main"></div>
<div id="section_1"> 
    <div id="section_1_header" class='_header'></div>
    <div id="section_1_body" class='_body'></div>
</div>
<div id="section_2">
    <div id="section_2_header" class='_header'></div>
    <div id="section_2_body" class='_body'></div>
</div>
<div id="section_3">
    <div id="section_3_header" class='_header'></div>
    <div id="section_3_body" class='_body'></div>
</div>
<div id="section_4">
    <div id="section_4_header" class="_header"></div>
    <div id="section_4_body" class="_body"></div>
</div>
<div id="section_5">
    <div id="section_5_header" class="_header"></div>
    <div id="section_5_body" class="_body"></div>
</div>

<style>
</style>
<script type="text/javascript">
    //new Highcharts.Chart();
    document.getElementById("section_1_header").innerHTML = "";new Highcharts.Chart({"chart":{"type":"line","backgroundColor":"#2a2a2a","renderTo":"section_1_body","height":520,"width":928},"yAxis":[{}],"plotOptions":{"spline":{"marker":{"radius":4,"lineColor":"#666666","lineWidth":1}}},"title":{"text":"Report"},"legend":{"enabled":true},"xAxis":{"type":"datetime","title":{"text":"created_date"}},"series":[{"yAxis":0,"name":["ros_week","GA"],"data":[[1483660800000,9.3933333333],[1483747200000,9.4010185185],[1483833600000,9.4091666667],[1483920000000,9.3989814815],[1484006400000,9.4394444444],[1484092800000,9.3855555556]]}],"colors":["#5290e9","#71b37c","#ec932f","#e14d57","#965994","#9d7952","#cc527b","#33867f","#ada434"]});
</script>
 
